.box {
	width: 50vw;
	height: 400px;
	background-color: gray;
	border: 4px dotted red;
	border-radius: 40px;
	padding: 20px 30px;
	margin: 30px;
}
.bg-image {
	background-image: url(images/joran.jpg);
	background-size: cover;
	background-attachment: fixed;
}
#display p {
	display: none;
}
#display a {
	display: block;
}